<header>
	<h1>MBO Reports</h1>
</header>
<div id='content'>
	<div>
		<h2>It's Your Data, Own It!</h2>
		<p>
			MINDBODY has made it difficult for you to own your data. 
			MBO Reports remedies this by:
			<ul>
				<li>Providing essential reports that MINDBODY does not offer.</li>
				<li>Giving you acces to your data.</li>
				<li>Working closely with our members to create custom reports.</li>
			</ul>
		</p>
	</div>
	<div class='note'>
		We are currently in beta testing to make sure everything works smoothly. We'll be adding customers on a first come, first serve basis as we can handle them.
	</div>
	<div>
		
		<div class='errors'>
		</div>

		<mba-invitation-form></mba-invitation-form>
	</div>
</div>

<script type='text/javascript' src='invitations/client/invitations.client.module.js'></script>
<script type='text/javascript' src='invitations/client/controllers/invitations.client.controller.js'></script>
<script type='text/javascript' src='invitations/client/directives/invitation-form.client.directive.js'></script>

