<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel="icon" type="image/png" href="core/client/img/logo.png" alt="logo">
	<link rel='stylesheet' type='text/css' href='core/client/css/global.css'>
</head>
<body>
	<div id='main'>
		<%- body %>
	</div>
	<footer>
		<% include footer.ejs %>
	</footer>
</body>
</html>