<% for( var i in messages ) { %>
	<div class='flash'>
		<%= messages[i] %>
	</div>
<% } %>

<registration-form></registration-form>

<script type='text/javascript' src='../../../../users/client/users.client.module.js'></script>